@media (max-width: 991px) {
  .box-crack-price {
    .crack-item {
      position: relative;
      flex-direction: column;
      height: auto;
      max-width: 600px;
      width: 100%;
      margin: auto;
      margin-bottom: 20px;

      &__price-old {
        width: auto;
      }

      &__desc {

        &::after {
          display: none;
        }
      }
    }

    .crack-item-left,
    .crack-item-right {
      width: auto;
    }

  }
}

@media (max-width: 580px) {
  .box-crack-price {
    .crack-item {
      height: 150px;

      &__icon img {
        margin-left: 0;
      }
    }


    .crack-item-right {
      // display: block;
      position: relative;
    }

    .btn {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
    }

    .crack-item__price-new,
    .crack-item__price-old {
      display: inline-block;
      width: auto;
    }

  }

  .box-important .box-important-item, .header .header__desc{
    text-align: justify;
    text-align-last: center;
  }
}

@media (max-width: 412px) {
  .box-crack-price {
    // .crack-item{
    //   height: 200px;
    //   margin: 0;
    // }

    // .crack-item-right{
    //   flex-direction: column;
    // }
    .crack-item__price-old {

      .desc {
        display: block;
        margin-top: -6px;
        text-align:left;
      }

    }

  }


}