.about-me-page {

  .content-box {

    .item-image .content-list__icon {
      box-shadow: none;
    }

    .content-list-wrap {
      padding: 0 30px 50px;
    }

  }

  .header-bg{
    height: 56px;
  }
}

// .content-list.about-me-page{

// }
// .content-box .item-image .item-image__img img




//   .content-list__item {
//     margin-top: 0;
//   }

//   .item-image__img {
//     position: relative;
//     width: 100%;

//     img {
//       width: auto;
//       height: auto;
//     }

//   }

//   p {
//     max-width: 990px;
//     margin: 24px auto 0;
//     text-align: justify;
//     text-align-last: center;
//     // letter-spacing: 2px;
//   }

//   .title {

//     .date,
//     .author,
//     .subtitle {
//       font-size: 16px;
//     }

//     .author {
//       margin-right: 28px;
//     }

//     .author-icon,
//     .date-icon {
//       color: #000;
//       margin-right: 10px;
//     }

//     h2 {
//       font-size: 28px;
//       line-height: 40px;
//       margin: 12px 0;
//     }
//   }


// }

// .main-content {
//   .right-sidebar {
//     .latest-post.latest-post--mod-last-child {
//       .latest-post-list__item {
//         &:last-child {
//           border: none;
//         }
//       }
//     }
//   }
// }